<%= form_for @news do |form| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message, id: :news_name %>
  </div>

  <div class="actions">
    <%= form.submit "Add News"%>
  </div>
<% end %>
